<h1>{{title}}</h1>
<h1 [innerHTML]="title"></h1>

<img [src]="imageUrl" alt="">

<p [ngClass]="nomClass">ceci est une application</p>

<button [disabled]="isActif"> question 5</button>
<button (click)="test()">Cliquer</button>

<table>
  <tr>
      <th>nom</th>
      <th>prenom</th>
      <div *ngIf="isDetails">
        <th>age</th>
        <th>email</th>
        <th>telephone</th>
      </div>
  </tr>
  <tr *ngFor="let utilisateur of utilisateurs">
      <td>{{utilisateur.nom}}</td>
      <td>{{utilisateur.prenom}}</td>
      <div *ngIf="isDetails">
        <td>{{utilisateur.age}}</td>
        <td>{{utilisateur.email}}</td>
        <td>{{utilisateur.tel}}</td>
      </div>
  </tr>
</table>

<button *ngIf="!isDetails else cache" (click)="montreDetails()">Montrer details</button>
<ng-template #cache><button (click)="cacheDetails()">Cacher details</button></ng-template>

<br><br>
<input type="text" [(ngModel)]="para">
<p>{{para}}</p>

<button (click)="ajouter()">Add</button>


